@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins:wght@100;200;300&display=swap');


.rankingPage {
    font-family: poppins;
}


/* Title */ 

.titleLanding {
    color : white;
    font-family: 'Lemonada';
    font-size: 5.5vw;
    background-image: url(../public/img/backgroundLanding.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25% 0% 45% 7%;
}

.recyclageTitle1{
    font-size: 4vw;
    color: #7aa37E;
    font-family: 'Lemonada';
}

.recyclageTitle2{
    font-size: 4vw;
    font-family: 'Lemonada';
    color: #7aa37E;

}

.recyclageTitle7{
    font-size: 4vw;
    font-family: 'Lemonada';
    color: #7aa37E;

}

.info4 {
    font-size: 2vw;
}

.info5 {
    font-size: 2vw;
}

.info6 {
    font-size: 2vw;
}