
@import url('https://fonts.googleapis.com/css2?family=Lemonadaadaada:wght@700&display=swap');

.rankingPage {
    font-family: 'Poppins';
 }
  
  
 /* Title */
  
 .titleLanding {
    color : white;
    font-family: 'Lemonada';
    font-size: 5.5vw;
    background-image: url(../public/img/backgroundLanding.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25% 0% 45% 7%;
 }
  
 .recyclageTitle1{
    font-size: 4vw;
    color: #7aa37E;
    font-family: 'Lemonada';
 }
  
 .recyclageTitle2{
    font-size: 4vw;
    font-family: 'Lemonada';
    color: #7aa37E;
  
 }
  
 .recyclageTitle7{
    font-size: 4vw;
    font-family: 'Lemonada';
    color: #7aa37E;
  
 }
  
 .Explication img {
   width: 55%;
    text-align: center;
    margin: auto;
    display: flex;
 }

 titleBande{
   color: #7aa37E;
   font-family: '';
   font-weight: 500;
   margin: 5% 4% 0% 4%;
   font-size: 3vw;
}

h5 .Bande{
  
}

.Bande{
   background-image: url(../public/img/bande.svg);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(3%, 30%));
   gap: 2%;
   justify-content: center;
   margin-bottom: 5%;
   text-align: center;
   color: white;
   font-family: 'Lemonada';
   font-size: 2.6vw;
   padding-top: 3%;
   padding-bottom: 3%;
}

.Bande h5{
   color: white;
   
   font-size: 6vw;
}
  
 .info4 {
    font-size: 3vw;
    font-weight: bold;
 }
  
 .info5 {
    font-size: 3vw;
    font-weight: bold;

 }
  
 .info6 {
    font-size: 3vw;
    font-weight: bold;

 }
  
 .Explication{
    margin: 0% 4% 0% 4%;
 }
  
 /* BANDE */
  
 .titleBande{
    color: #7aa37E;
    font-family: 'Lemonada';
    font-weight: 700;
    margin: 5% 4% 0% 4%;
    font-size: 5vw;
 }
  
 .Bande{
    width: 100%;
    background-color: #7aa37E;
 }
  
 /* HISTORIQUE */
  
 .titleHist H3{
    color: #7aa37E;
    font-family: 'Lemonada';
    margin: 3% 4% 2% 4%;
    font-size: 5vw;
 }
  
 .titleHist p{
    font-family: 'Poppins';
    margin: 0% 4% 3% 4%;
    font-size: 3vw;
 }
 